/**************** Common ****************/

body {
    padding-top: 47px;
    background-color: #ececec;
}

.container {
    min-width: 1100px;
}

.brand {
    font-weight: bold!important;
}

.navbar .nav>li>a {
    padding: 14px 10px 14px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url(/images/top.png) no-repeat;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.button {
    font-size: 13px;
    background: #006ecc;
    border-color: #006ecc;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.button:hover {
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
}

.button.warning {
    background-color: #39B3D7
}

.button.warning:hover {
    background-color: #5BC0DE;
}

.button.success {
    background-color: #47A447;
}

.button.success:hover {
    background-color: #5CB85C;
}
/* table */

.datatable {
    border: 1px solid #888888;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
}

.datatable tr,
.datatable th,
.datatable td {
    border: 1px solid #aaa;
}

.datatable th {
    background: #ccc;
    text-align: left;
}

.datatable th,
.datatable td {
    padding: 8px 10px 8px 10px;
}

.datatable tr {
    background: #eee;
}

.datatable tr.even {
    background: #fff;
}

.datatable td.code {
    font-family: "Courier New";
}

.datatable.hover tr:hover {
    background: #ddd;
}

.extra {
    text-decoration: line-through!important
}

.yes {
    color: #339900!important;
    font-size: 16px;
    font-weight: bold
}

.no {
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
}
/**************** footer ****************/

footer {
    background-color: #4E4B41;
    color: #fff;
    text-align: center;
}

footer p {
    padding: 1em 0;
    margin-bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
/**************** Support Header ****************/

.s-header {
    height: 200px;
    background: url('/images/homev_updated.png') no-repeat;
}

.s-header h1 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    width: 100%;
    margin-top: 80px;
}

.s-nav {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

.s-nav ul {
    list-style: none;
    margin: 0;
    position: relative;
}

.s-nav li {
    float: left;
}

.s-nav a {
    padding: 20px 0;
    width: 250px;
    text-align: center;
    display: inherit;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.s-nav a:hover {
    color: #006cee;
}

.s-nav li.active {
    margin-bottom: -1px;
    border-bottom: 1px solid #006cee;
}

.s-nav li.active a {
    color: #006cee;
}

.s-nav .four a {
    width: 250px;
}

.s-nav .five a {
    width: 200px;
}

.s-nav span {
    color: #ff0000;
    position: absolute;
    top: 10px;
    font-weight: normal;
}
/**************** Support Content ****************/

.s-content {
    margin: 20px 0;
}

.s-content h1 {
    border-bottom: 1px solid #006cee;
    padding-bottom: 10px;
    margin-bottom: 14px;
}

.s-content h3 {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.s-content h4 {
    margin-bottom: 14px;
}

.s-box {
    padding: 40px 40px;
    background-color: #fff;
    border: 1px solid #aaa;
}

.s-main {
    width: 780px;
}

.s-slider-nav {
    width: 216px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 20px 20px 0;
}

.s-slider-nav ul {
    list-style: none;
    margin: 0;
}

.s-slider-nav li {
    padding: 0 20px;
}

.s-slider-nav li a {
    display: block;
    color: #888;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.s-slider-nav li a:hover {
    color: #333;
}

.s-slider-nav li.active {
    position: relative;
    z-index: 4
}

.s-slider-nav li.active:after {
    content: '';
    position: absolute;
    right: -29px;
    top: 16px;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    transition: background .1s linear;
    background-color: #FFF;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 2;
}

.s-slider-nav li.active a {
    color: #006cee;
    font-weight: bold;
}

.s-slider {
    width: 220px;
    margin-bottom: 16px;
    padding: 0;
    border: 1px solid #aaa;
    margin-left: 16px;
    background-color: #fff;
}

.noborder {
    border: none!important;
}

.s-slider-title {
    background-color: #eee;
    font-weight: bold;
    padding: 8px 10px;
    border-bottom: 1px solid #aaa;
}

.s-slider-cont {
    padding: 10px;
}

.s-slider-cont ul {
    margin-bottom: 0;
}

.s-ul-float {
    list-style: none;
    margin-left: 0;
}

.s-ul-float li {
    float: left;
    width: 50%;
}

.s-content p,
.s-content li {
    font: 14px/24px 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.s-content h2 {
    margin: 16px 0;
}

.s-feature {
    margin: 40px 0;
}

.s-share {
    float: right;
}

.s-background {
    width: 162px;
    height: 122px;
    border: 1px solid #ccc;
}

.sh {
    background: url('/images/feature.jpg')
}

.ss {
    background: url('/images/stock-feature.jpg');
}

.sm {
    background: url('/images/map-feature.jpg');
}

.s41 {
    background: url('/images/4.1-feature.jpg');
}

.s-b1 {
    background-position: -162px 0;
}

.s-b2 {
    background-position: -324px 0;
}

.s-b3 {
    background-position: -486px 0;
}

.s-b4 {
    background-position: -648px 0;
}

.s-b5 {
    background-position: 0 -122px;
}

.s-b6 {
    background-position: -162px -122px;
}

.s-b7 {
    background-position: -324px -122px;
}

.s-b8 {
    background-position: -486px -122px;
}

.s-b9 {
    background-position: -648px -122px;
}

.s-b10 {
    background-position: 0 -244px;
}

.s-b11 {
    background-position: -162px -244px;
}

.s-b12 {
    background-position: -324px -244px;
}

.s-b13 {
    background-position: -486px -244px;
}

.s-b14 {
    background-position: -648px -244px;
}

.s-b15 {
    background-position: 0 -366px;
}

.s-b16 {
    background-position: -162px -366px;
}

.s-text {
    width: 600px;
}

.s-text h3 {
    margin: 0;
    border: none;
}

.s-btns {
    text-align: center;
    margin: 30px 0;
}

.s-btns.large {
    margin: 60px 0;
    text-align: left;
}

.s-comment {
    margin-top: 60px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.s-pane {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
    margin-top: -20px;
}
/** Donate**/

.donate-method {
    color: #006cee!important;
    font-size: 20px!important;
    margin: 20px 0;
}

.donate-cont {
    float: left;
}

.donate-bg {
    width: 400px;
    height: 400px;
    float: right;
    margin-top: -100px;
    background: url('/images/donate-me1.png') no-repeat;
}
/********* Docs *************/

.docs-silder {
    float: left;
    width: 220px;
}

.docs-box {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.docs-menu {
    padding: 10px 20px;
    position: relative;
}

.docs-menu a {
    color: #aaa;
}

.docs-menu dl {
    margin: 6px 0;
}

.docs-menu dd {
    display: none;
    margin: 2px 14px;
}

.docs-menu .active {
    display: block;
}

.docs-menu dd.active:after,
.docs-menu dt.active:after {
    content: '';
    position: absolute;
    right: -26px;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    transition: background .1s linear;
    background-color: #FFF;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 2;
}

.docs-menu dl.active a {
    color: #333;
}

.docs-menu dl.active > dd {
    display: block;
}

.docs-menu dd.active > a {
    color: #ff0000;
}

.docs-index {
    display: block!important;
    margin-left: 0!important;
    font-weight: normal!important;
}

.docs-index a {
    color: #333;
}

.docs-content {
    color: #333;
    float: right;
    width: 780px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #aaa;
}

.docs-content h1 {
    border-bottom: 1px solid #006cee;
    padding-bottom: 10px;
    margin-bottom: 14px;
}

.docs-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.docs-content h4 {
    color: #1214A0;
    font-size: 16px;
    margin: 16px 0;
}

.docs-content h5 {
    margin: 10px 0;
}

.docs-content p,
.docs-content li,
.docs-content blockquote {
    font: 14px/24px 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.docs-content pre {
    font-family: 'Courier New', "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
    color: #000;
}

.docs-content blockquote {
    margin: 10px 0 30px 0;
    padding: 14px 65px 14px 60px;
    background: #f9f9f9 url(/images/icon_quote_e.gif) no-repeat 97% 100%;
    line-height: 1.6;
    position: relative;
    border-left: none;
    border-radius: 5px;
}

.docs-content blockquote:before {
    content: "";
    position: absolute;
    width: 4em;
    height: 3em;
    top: 0;
    left: 0;
    background: #f9f9f9 url(/images/icon_quote_s.gif) no-repeat 20px 6px;
}

.docs-like {
    border-top: 1px solid #aaa;
    margin-top: 40px;
    position: relative;
}

.docs-like h3 {
    color: #1214A0;
}

.docs-nav {
    position: absolute;
    width: 400px;
    top: 30px;
    left: 378px;
    text-align: center;
}

.docs-donate {
    width: 400px;
    height: 160px;
    border-top: 1px solid #eee;
    margin-top: 30px;
    background: url('/images/donate.jpg') no-repeat 90%;
    position: relative;
}

.docs-nav h3 {
    border-bottom: none;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 20px;
}

.docs-more {
    margin-top: 40px;
    background-color: #eee;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
}
/*** API ***/

.ui-widget {
    font-size: 12px!important;
    font-family: "Courier New", Courier, monospace;
}

.ui-widget-content {
    position: absolute;
    float: left;
    background: #fff;
    max-height: 300px;
    overflow-y: auto;
    width: 256px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 94%;
    font-family: Arial, Verdana, sans-serif;
    padding: .2em .4em;
    cursor: pointer;
    color: #444;
}

.nav-section h3 {
    font-size: 14px;
}

.ui-menu-item:hover {
    background: #dadada;
    border: 1px solid #999;
    border-radius: 4px;
}

#notfound {
    margin: 50px 30px;
}

#reference-loading {
    margin-top: 300px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

#api-wrapper {
    overflow: hidden;
    background-color: #fff;
}

#nav .tree,
#nav .tree * {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.3em;
}

#details h1 {
    font-size: 16px;
    font-weight: bold;
    color: #49493D;
}

#details h3 {
    font-size: 16px;
    font-weight: bold;
    color: #49493D;
    border-bottom: 1px solid #aaa;
}

#details h4 {
    font-size: 13px;
}

.apiCopy {
    margin: 10px 0;
    line-height: 20px;
}

.anatomy {
    float: left;
    border-top: none;
}

.apiInfo {
    float: left;
    margin: 20px 0;
    border-left: 1px solid #eee;
    text-align: center;
}

.apiWeibo {
    width: 210px;
    height: 60px;
    margin: 19px 0;
}

.apiTuijian {
    width: 250px;
    height: 250px;
}

#details h1 span {
    margin-left: 6px;
    float: right;
    font-size: 12px;
    color: red;
    font-weight: normal;
}

#details h1 span a {
    color: red;
    text-decoration: none;
}

h2 span {
    margin-left: 6px;
    float: right;
    font-size: 12px;
    color: red;
    font-weight: normal;
}

h2 span a {
    color: red;
    text-decoration: none;
}

#nav {
    margin: 1em 1em 1em 1em;
}

#nav-wrap {
    width: 30%;
    float: left;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    background: #ECEFF0;
}

#nav a,
#nav a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #039;
    padding: 0 2px;
    margin: 1px;
}

.nav-section {
    background: white;
    padding: 0.5em 1em 1em 1em;
    border-radius: 9px;
    box-shadow: 1px 2px 5px #888;
    margin-bottom: 1em;
    position: relative;
}

#search-div {
    height: 18px;
    margin-bottom: 15px;
    margin-left: 136px;
}

#search {
    width: 100%;
    height: 18px;
    background: #FCFCFC url(../images/search.png) no-repeat 5px 3px;
    font-size: 1em;
    padding: 2px 0;
    padding-left: 25px;
    font-size: 1em;
    border: 1px solid silver;
    border-radius: 9px;
    font-family: "Courier New", Courier, monospace;
    box-shadow: inset 1px 1px 1px #888;
    float: right;
}

#search:focus {
    border-color: blue;
    outline: none;
}

#nav .level {
    margin-left: 13px;
    display: none;
}

#nav .level-0 {
    display: block;
}

#nav a.level-0 {
    margin-left: 1em;
}

#nav .menuitem {
    position: relative;
}

#nav .value {
    width: 40%;
    overflow: hidden;
    color: silver;
    position: absolute;
    right: 0;
    white-space: nowrap;
}

#nav a.hilighted {
    background: #FCFFC5;
    border: 1px solid silver;
    border-radius: 5px;
}

#nav .plus {
    display: block;
    position: absolute;
    left: -12px;
    top: 2px;
    width: 9px;
    height: 9px;
    outline: none;
    border: none;
    background-image: url(../images/sprite.png);
}

#nav .collapsed>.plus {
    background-position: -12px 0;
}

#nav .expanded>.plus {
    background-position: -24px 0;
}

#nav .expanded>.dots {
    display: none;
}

#nav .dots.loading {
    background: url(../images/ajax-loader.gif) no-repeat center;
}

#nav .dots.loading span {
    visibility: hidden;
}

#methods-and-properties-toc ul {
    margin-left: 0;
    padding-left: 1em;
}

#api-wrapper pre,
#api-wrapper code {
    font-family: "Courier New", Courier, monospace;
    background: none;
    border: none;
    color: green;
    font-weight: bold;
}

#overview {
    margin-left: 420px;
}

#details-wrap {
    float: right;
    width: 70%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

#details {
    margin: 20px;
}

.member {
    border: 1px solid silver;
    border-bottom: none;
    padding: .3em;
    /*max-height: 2.4em;*/
    
    overflow-y: hidden;
    position: relative;
    padding-left: 25px;
    background: url(../images/expand-bg.gif) repeat-y;
}

.member.deprecated * {
    color: silver !important;
}

.member.hilighted {
    background: url(../images/expand-bg-hilighted.gif) repeat-y #FCFFC5;
}

.member .title {
    font-size: 1.1em;
    font-weight: bold;
}

.member .default {
    display: none;
}

.member .since {
    float: right;
    font-size: 0.8em;
}

.member .edit {
    float: right;
    color: red;
    margin-left: 50px;
}

.member .edit a {
    color: red;
    text-decoration: none;
}

.member .description {
    color: #666;
}

.member .description p {
    margin: 0
}

.member .demo {
    font-size: 13px;
    margin-top: 0.3em;
}

.section .demo {
    font-size: 13px;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.section,
.member-last {
    border-bottom: 1px solid silver;
}

.section-description {
    margin: 0 0 1em 0;
}

.menuitem div {
    margin-left: 8px;
}

.tree {
    padding-left: 24px;
}

div.edit {
    float: right
}

.langHide {
    display: none
}


/*about*/
#about {min-width:1100px;background:#f5f5f5}
#about_header {min-width:1000px;height:140px;}
#about_header .container {height:140px;position:relative}
#about .donate {background:#BF1813}
#about .api {background:#0A64A4}
#about .htable {background:#009966}
#about .about{background:#660066;/*4BAD00*/}
#about .project_index {background:#0099CC}
#about .service {height:200px;background:url('/images/homev_updated.png') no-repeat;}
#about .service h1{text-align:center;font-size:40px;color:#fff;width:100%;top:80px;}
#about .service_index {height:420px;background:url('/images/homev_updated.png') no-repeat;position:relative;}
#about .service_index h1{text-align:center;font-size:40px;color:#fff;width:100%;top:180px;}
#about .service_index .credits {position:absolute;right:0px;bottom:-280px;color:#fff}
/*#about .download {background:#2EAAEA;background-image: linear-gradient(180deg,#0D7AD7, #2EAAEA);}*/


#about_header .header_nav {position:absolute;bottom:0px;right:0px}
#about_header .header_nav ul {list-style:none}
#about_header .header_nav ul li {float:left;margin-left:10px;padding:6px 15px;cursor:pointer;color:#fff}
#about_header .header_nav ul li.cur{background:#f5f5f5;border-radius:5px 5px 0 0;color:#000}
#about_header h1 {width:800px;color:#fff;position:relative;top:50px;font-family:"微软雅黑";}
#about_header h1 span{font-size:14px;margin-left:20px}
#about_header .extra {float: right;position: relative;top:12px;}
#about_header .hf {height:80px;background:#fff;border-radius:10px 10px 0 0;border:1px solid #dbdbdb}
#about_content {min-width:1000px;background:#F5F5F5;padding:20px 0}
#about_content a{color:#000;}
#about_content a:hover{color:#0088CC;}
#about_content a.cur{color:#0088CC;}
#about_content .about_left {width:700px;float:left}
#about_content .about_right{width:250px;float:right}
#about_content .box {margin:30px 0;width:100%;}
#about_content .box h4 {margin-bottom:16px;padding-bottom:8px;border-bottom:1px solid #aaa}
#about_content .box h4 span {border-bottom: 1px solid #006ecc;}
#about_content .box h3 {margin-bottom:16px;}
#about_content .box p{line-height:2;}
#about_content .box p.indent{text-indent:2em}
#about_content .box p.donate{font-weight:bold;}
#about_content .box pre {background:#fff}
#about_content .about_right .box {border:1px solid #aaa;border-radius:5px;background:#fff;}
#about_content .about_right .fixed {border-radius:0;height:250px;width:250px;overflow:hidden}
#about_content .about_right .box h4 {border-bottom:1px solid #ccc;background:#eee;padding:8px}
#about_content .about_right .box h5 {text-align:center;}
#about_content .about_right a {color:#000;text-decoration:none}
#about_content .about_right .box ul {list-style:none;margin-left:8px}
#about_content .about_right .box ul li span{font-weight:bold}
#about_content ul li {margin:5px 0}
#about_content ul li.version {color:#ff0000;padding:8px 0}
#about_content table {width:100%;margin-bottom:10px}
#about_content table,#about #about_content table th,#about #about_content table td {border:1px solid #ccc}
#about_content table th {text-align:left;padding:8px;background:#dbdbdb;}
#about_content table td {padding:8px;background:#fff}
#about_content table .normal th{font-weight:normal!important}
#about_content table .bold {font-weight:bold}
#about_content table tr.success td {color:#ff0000;font-weight:bold}
#about_content .team {margin:30px 0;padding-bottom:30px;border-bottom:1px dashed #ccc}
#about_content .team .team_ico{width:176px;height:176px;float:left}
#about_content .team .team_info {width:480px;float:left;margin-left:20px;margin-bottom:0}
#about_content .shows {background:#fff;width:300px;margin-bottom:20px;border:1px solid #aaa; border-radius:5px; padding:4px;text-align:center;cursor:pointer;margin-right:40px;float:left}
#about_content .small .shows_content{display:none}
#about_content .shows img {max-width:300px;}
#about_content .shows h4 {font-size:20px;margin:15px 0px 0px 0px;border-bottom:none}
#about_content .shows p {margin-bottom:0;}
#about_content .shows a{color:#000;text-decoration:none}
#about_content .friends {width:695px;list-style:none;margin-left:0px;border-top:1px dotted #888;border-left:1px dotted #888}
#about_content .friends li {float:left;width:138px;margin:0;background:#fff;padding:14px 0px;border:1px dotted #888;border-left:none;border-top:none;text-align:center;}
#about_content .friends li.hover {border:1px solid #ff9009}
#about_content blockquote p{font-size:13px!important} 

/*Open*/
#open_nav {background:#fff;border-bottom:1px solid #ccc;}
#open_nav ul {list-style:none;width:1000px;margin:0 auto;}
#open_nav ul li {float:left;}
#open_nav ul li a{padding:20px 0;width:250px;text-align:center;display: inherit;color:#000;text-decoration:none;position:relative;}
#open_nav ul li a.cur {border-bottom:1px solid #006ecc;font-weight:bold;color:#006ecc}
#open_nav ul li a:hover {color:#006ecc}
#open_nav ul li a span {color:#ff0000;position:absolute;top:10px;font-weight:normal}
#open_nav.index{background:#fff;padding: 30px 0;}
#open_nav.index a {font-size:14px;color:#006ecc;}
#open_nav.index p {text-align:center;}
#open_content {background:#ececec;}
#open_content .container {padding:40px 0;text-align:center}
#open_content .open_box {}

#open_content .case {background:#ccc;border:1px solid #aaa;overflow:hidden;position:relative;border-radius:3px;}
#open_content .case_tip {width:100%;position:absolute;bottom:0;color:#fff;z-index:1000;padding:10px 0;display:none;cursor:pointer;}
#open_content .case_tip_con {z-index:1000}
#open_content .case_tip_bg {height:100%;position:absolute;width:100%;bottom:0;top:0;z-index:-5;background:#000; filter:alpha(opacity=50);  -moz-opacity:0.5;  -khtml-opacity: 0.5;opacity: 0.5;}

#open_content .desciption {margin:20px 0 40px 0;}
#open_content .open_box {margin:40px auto;padding:20px 0;}
#open_content .box_bg{background: rgba(255, 254, 253, 1);width: 920px;margin: 0 auto;-webkit-box-shadow: 1px 3px 8px #CCC;box-shadow: 1px 3px 8px #CCC;}
#open_content .box_bg:hover{-webkit-box-shadow: 1px 5px 10px #CCC;box-shadow: 1px 5px 10px #CCC;}
#open_content .box_title {background:#eee;color: #006ecc;border: 1px solid #ccc;border-bottom: none;font-weight: bold;}
#open_content .box_title h3 {padding:8px 0;}
#open_content .box_title .select {list-style:none;margin:0;}
#open_content .box_title .select li{width:249px;float:left;padding:10px 0;color:#000;cursor:pointer;border-top:1px solid #ccc;}
#open_content .box_title .select li.cur{background:#fff;padding-left:1px}
#open_content .box_content {background:#fff;}
#open_content .box_content.cdn {border:1px solid #ccc;border-top:none;}
#open_content .box_content .cdn {margin:0 auto;}
#open_content .box_content .cdn td {font-family:"Courier New";}
#open_content .box_content .cdn input {padding:0;margin:0;border:none;background:none;box-shadow:none;width:640px;color:#008000;font-family:"Courier New";}
#open_content .box_content .price {border:1px solid #ccc;width:100%}
#open_content .box_content .price td,#open_content .box_content .price  th{border:1px solid #ccc;padding:10px;}
#open_content .box_content .price tr.odd {background:#eee}


#open_content .license {/*background:#D4E6F7;*/background:#fff;box-shadow:1px 5px 5px #CCC;padding:30px;margin-bottom:80px;}
#open_content .license:hover {box-shadow:3px 8px 10px #CCC;}
#open_content .li_title {color:#006ecc;font-size:20px;border-bottom:1px solid #006cee;padding-bottom:10px;}
#open_content .li_type {list-style:none;margin:40px auto;width:720px;border:1px solid #006ecc;border-radius:3px;overflow:hidden}
#open_content .li_type li {float:left;width:160px;color:#006ecc;font-weight:bold;padding:4px 10px;background:#fff;cursor:pointer;}
#open_content .li_type li.cur {background:#006ecc;color:#fff;}
#open_content .price {width:900px;margin:0 auto;}
#open_content .price th,#open_content .price td {border:1px solid #aaa;background:#fff;padding:10px}
#open_content .price th {background:#eee}
#open_content .price span {color:#ff0000;}
#open_content .buy {background:#F6F3EA;padding:30px;}
#open_content .download {background:#006ecc;border-color:#006ecc;padding:10px 20px;color:#fff;text-decoration:none;}
#open_content .download:hover {background-color:#0088cc}
#open_content .success {background:#47A447}
#open_content .success:hover {background-color:#5CB85C}
#open_content .warning {background:#39B3D7}
#open_content .warning:hover {background-color:#5BC0DE}
#open_content .go {padding:0 40px;background:url('/images/c_b.png') no-repeat;margin:0 20px;}
#open_content .li_cont {padding:40px  20px}
#open_content .li_step {text-align:left;margin:40px auto 20px auto;width:760px;border:1px solid #ccc;background:#f5f5f5;padding:30px;}
#open_content .li_step .li_ico {width:80px;height: 10px;background: url("/images/coler3.png") no-repeat;z-index: 999;position: relative;left:94px;top: -40px;}
#open_content .li_step span { color:#ff0000}
#open_content .ico {margin:0 40px;}

#open_content .notice {width:700px;margin:-10px auto 20px auto;float:none;}
/*Faq*/
#open_content .faq_parent {padding-bottom:40px;margin-bottom:40px;border-bottom:1px solid #eee;}
#open_content .faq_title {margin-bottom:30px;}
#open_content .faq {text-align:left;width:760px;border:1px solid #aaa;margin:20px auto;position:relative;}
#open_content .question {background:#eee;padding:8px 50px;color:#000;overflow:hidden;cursor:pointer;}
#open_content .question span{ background:#006cee;color:#fff;padding:10px 14px;position:absolute;top:-2px;left:-2px;}
#open_content .answer {padding:20px 50px;display:none;}
#open_content .answer .b {font-weight:bold;line-height:24px;color:#000;text-decoration:underline}
#open_content .answer .r { color:#ff0000}
/*Tips*/
#open_content .tips {display:none;position:absolute;width:500px;margin-top:6px;text-align:left;}
#open_content .tips .tip_ico {height: 10px;background: url("/images/coler2.png") no-repeat;z-index: 1200;position: relative;left:210px;bottom: 1px;}
#open_content .tips .tip_cont {padding-bottom:10px;background:#fff;border:1px solid #aaa;position:relative;top:-2px;left:20px;border-radius:3px;box-shadow: 0 5px 10px rgba(0,0,0,0.5);}
#open_content .tips .tit {background:#eee;padding:8px;text-align:center;}
#open_content .tips .tic {padding:10px;}
#open_content .tips .tip_cont li {line-height:20px;}

#open_content .server_title {margin:40px 0;border-top:1px solid #eee;padding-top:30px;}
#open_content .open_box .more {border-top:1px solid #ddd;padding-top:9px;}
#open_content .others {width:370px;background:#f5f5f5;border:1px solid #ccc;padding:20px 30px;float:left;}
#open_content .others h3 {margin-bottom:10px}
#open_content .others p {text-align:left;}
#open_content .others.right{float:right;}